# dependencias
node_modules/
.pnp/
.pnp.cjs

# Next.js
.next/
out/
.vercel/
.next/static/
.next/cache/

# builds
dist/
build/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# env
.env
.env.*
!.env.example

# otros
*.swp
*.tmp
